.engage {
  text-align: center;
  padding-top: 47px;
}

.engage__list {
  display: flex;
  padding-left: 0px;
}

.engage__item {
  position: relative;

  &:not(:last-of-type) {
    margin-right: 30px;
  }
}

.engage__desc {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  color: var(--primary-back-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  background-color: rgba(47, 48, 58, 0.8);

  padding: 27px 0;
}

// 

@media screen and (max-width: 1199px) {
  .engage {
    display: none;
  }
}