.header {
  border-bottom: 1px solid #ececec;
}

.header--section {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

// .mob-menu {
//   position: fixed;
//   left: 0;
//   top: 0;
//   z-index: 100;
//   width: 100vw;
//   height: 100vh;
//   background-color: var(--primary-back-color);

//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
//   transition: opacity 205ms linear, visibility 250ms linear;

//   &--activ {
//     color: var(--accent-color);
//   }
// }

// .mob-menu.is-open {
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
// }

// ************************** MOB *******************

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contacts__list {
    display: none;
  }

  .header--section {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
  }

  .menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover .menu-btn-icon,
    &:focus .menu-btn-icon {
      fill: var(--accent-color);
    }
  }

  .menu-btn-icon {
    height: 40px;
    width: 40px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// ************************ TABLET ***************************

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__list {
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .heder__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .nav__list {
    display: flex;
    font-weight: 500;
  }

  .contacts__list {
    margin-left: auto;
  }

  .heder__item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts__icon {
    display: inline-block;
    margin-right: 10px;
    fill: var(--primary-font-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__links {
    color: var(--primary-font-color);

    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--accent-color);
    }
  }
}

// *********************** DESKTOP ********************

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .contacts__links {
    display: flex;
    align-items: center;
  }

  .heder__item-contacts:not(:last-child) {
    margin-right: 30px;
  }
}

// // ************************** MOB *******************

// @media screen and (max-width: 767px) {

// }

// // ************************ TABLET ***************************

// @media screen and (min-width: 480px) and (max-width: 767px ) {

// }

// @media screen and (min-width: 768px) {

// }

// // *********************** DESKTOP ********************

// @media screen and (min-width: 1200px) {

// }
