.header {
  border-bottom: 1px solid #ececec;
}

.header--section {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}
// не уверен пока что зачем єто мне вообще

// ************************** MOB *******************

@media screen and (max-width: 767px) {

  .nav__list {
    display: none;
  }

  .contacts__list {
    display: none;
  }

  .header--section {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


// ************************ TABLET ***************************

@media screen and (min-width: 480px) and (max-width: 767px ) {
    
}

@media screen and (min-width: 768px) {

  .heder__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .nav__list {
    display: flex;
    font-weight: 500;
  }

  .heder__item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts__icon {
    margin-right: 10px;
    fill: var(--primary-font-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__links {
    display: flex;
    align-items: center;
    color: var(--primary-font-color);
  
    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--accent-color);
    }
  }
}

// *********************** DESKTOP ********************

@media screen and (min-width: 1200px) {

  .contacts__list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  
}



// // ************************** MOB *******************

// @media screen and (max-width: 767px) {
  
// }

// // ************************ TABLET ***************************

// @media screen and (min-width: 480px) and (max-width: 767px ) {
    
// }

// @media screen and (min-width: 768px) {

// }

// // *********************** DESKTOP ********************

// @media screen and (min-width: 1200px) {
 
// }