.header {
  border-bottom: 1px solid #ececec;
}

.header--section {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

// ************************** MOB *******************

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }

  .contacts__list {
    display: none;
  }

  .header--section {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
  }

  .menu-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover .menu-btn-icon,
    &:focus .menu-btn-icon {
      fill: var(--accent-color);
    }
  }

  .menu-btn-icon {
    height: 40px;
    width: 40px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// ************************ TABLET ***************************

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contacts__list {
    padding-top: 21px;
    padding-bottom: 21px;

    font-size: 12px;
    line-height: 1.17;
  }

  .contacts__links {
    display: flex;
    align-items: center;
  }

  .heder__link {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heder__link--tab {
    margin-bottom: 10px;
  }

  .contacts__links.heder__link {
    padding-top: 0;
    padding-bottom: 0;
  }

}

@media screen and (min-width: 768px) {

  .menu-btn {
    display: none;
  }

  .heder__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .nav__list {
    display: flex;
    font-weight: 500;
  }

  .contacts__list {
    margin-left: auto;
  }

  .heder__item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts__icon {
    display: inline-block;
    line-height: 0;
    margin-right: 10px;
    fill: var(--primary-font-color);

    width: 14px;
    height: 14px;


    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__links {
    color: var(--primary-font-color);
    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--accent-color);
    }
  }
}

// *********************** DESKTOP ********************

@media screen and (min-width: 1200px) {
  .contacts__list {

    font-size: 14px;
    line-height: 1.14;

    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .contacts__links {
    display: flex;
    align-items: center;
  }

  .heder__item-contacts:not(:last-child) {
    margin-right: 30px;
  }

  .contacts__icon {
    width: 16px;
    height: 16px;
  }
}
