.heroes {
  background-color: var(--secondary-back-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/decoration/hero.jpg);
  background-position: center;
  background-size: cover;
  max-width: 480px;
  align-items: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

.heroes__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--primary-back-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.heroes__button {
  padding: 10px 32px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-back-color);
  background-color: var(--accent-color);
  border-width: 1px;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// ************************ TABLET ***************************

@media screen and (min-width: 768px) {

  .heroes {
    max-width: 768px;
  }
}

// *********************** DESKTOP ********************

@media screen and (min-width: 1200px) {

  .heroes {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .heroes__title {
    font-size: 44px;
    line-height: 1.36;
  }
}