.works {
  padding: 20px 24px;
  border: 1px solid #eeeeee;

}
.works-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-font-collor);
  font-size: 14px;
  margin-bottom: 4px;
}

.works-type {
  font-size: 16px;
  line-height: 1.87;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-left: -30px;
  margin-top: -30px;
}

.works-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 100%;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-box {
  position: relative;
  overflow: hidden;
}

.works-overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-back-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link {
  display: block;
  color: var(--primary-font-color);
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }

  &:hover .works-overlay,
  &:focus .works-overlay {
    transform: translateY(0);
  }
}

// ************************** MOB *******************

@media screen and (max-width: 479px) {
  .works-overlay {
    font-size: 14px;
    padding: 15px 15px;
  }
}

@media screen and (max-width: 767px) {
  .works-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// ************************ TABLET ***************************

@media screen and (min-width: 768px) {

  .works-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 64px) / 2);
    cursor: pointer;
    
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .works {
    min-width: 354px;
  }

  .works-overlay {
    padding: 49px 24px;
  }
}

// *********************** DESKTOP ********************

@media screen and (min-width: 1200px) {
  .works-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 96px) / 3);
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .works-overlay {
    padding: 63px 24px;
  }
}