.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 206px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-back-color);
  }

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: var(--primary-back-color);
  }
}

.social-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon--dark {
  fill: var(--primary-back-color);
}

@media screen and (max-width: 767px) {
  .social-list {
    min-width: 206px;
  }
}