.subscribe {
  padding-top: 0px;
}

.subscribe__box {
  position: relative;
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}

.subscribe__field {
  display: block;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-back-color);
  padding: 15px 16px;
  color: var(--primary-back-color);
  font-size: 16px;
  line-height: 1.25;
  
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
}

.subscribe__button {
  padding: 10px 62px 10px 29px;
  color: var(--primary-back-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-width: 0px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}


// ************************** MOB *******************

@media screen and (max-width: 767px) {
  .subscribe__field {
    width: 100%;
    margin-bottom: 20px;
  }

  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


// ************************ TABLET ***************************

@media screen and (min-width: 768px) and (max-width: 1199px ) {
  .subscribe__field {
    width: 450px;
    margin-bottom: 20px;
  }

  .subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// *********************** DESKTOP ********************

@media screen and (min-width: 1200px) {
  .subscribe {
    padding-top: 12px;
    margin-left: 93px;
  }

  .subscribe__form {
    display: flex;
  }

  .subscribe__field {
    margin-right: 12px;
  
  }
}