body {
  letter-spacing: 0.03em;
  font-family: var(--primary-font-family);
  font-size: 14px;
  color: var(--primary-font-color);
  background-color: var(--primary-back-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.links {
  text-decoration: none;
  color: var(--secondary-font-collor);
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--active,
  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &--active {
    position: relative;
  }

  &--active::after {
    content: "";
    display: block;
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 2px;

    position: absolute;
    width: 100%;
  }
}

.list {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}


@media screen and (min-width: 768px) {

  .links {
    &--active::after {
      bottom: -1px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}



