:root {
    --primary-font-color: #757575;
    --secondary-font-collor: #212121;
    --primary-back-color: #fff;
    --secondary-back-color: #2f303a;
    --accent-color: #2196f3;
  
    --primary-font-family: Roboto, sans-serif;
  }